/*
p8 more properties
*/

/*
font-weight can make text bold
list-style can make bullet points disappear on list when value is none
background-color can change the color behind the element
border is used to set the lines around the element by putting a line thickness value, line type and color
border-top adds a border line to top side
border-bottom adds a border line to bottom side
border-left adds a border line to left side
border-right adds a border line to right side
*/
