/* 
p3 properties
*/

/*
properties can take different values
length can be added by using different units
font-size changes how big the text is
font-family is used to specify different fonts
font-style can set text to italic or other modifications
text-align can be used to center text and the element will be centered of its parent element
text-transform turn text into uppercase or other modifications
line-height is the spacing between lines in a paragraph and default value is 1
*/

