/* 
p3 properties
*/

/*
properties can take different values
length can be added by using different units
font-size changes how big the text is
font-family is used to specify different fonts
font-style can set text to italic or other modifications
text-align can be used to center text and the element will be centered of its parent element
text-transform turn text into uppercase or other modifications
line-height is the spacing between lines in a paragraph and default value is 1
elements inside the modified or styled elements are also transformed
*/

h1 {
  font-size: 10px;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-style: italic;
}

h4 {
  text-align: center;
}

p {
  line-height: 1.5;
}

li {
  text-transform: uppercase;
}
